{{ partial "header.html" . }}

<section class="book-information">
  <p><strong>Authors:</strong> {{ delimit .Params.authors ", " }}</p>
  <p><strong>Publication year:</strong> {{ .Params.publication_year }}</p>
  <p><strong>Publisher:</strong> {{ .Params.publisher }}</p>
  <p><strong>Genres:</strong> {{ delimit .Params.genres ", " }}</p>
  {{ with .Params.series }}<p><strong>Series:</strong> {{ . }}</p>{{ end }}
  <p><strong>Pages:</strong> {{ .Params.page_count }}</p>
  <hr />
  <p><strong>My rating:</strong> {{ .Params.star_rating }} out of 5</p>
  <p><strong>Last read:</strong>
    {{ range last 1 .Params.readings }}
      from {{ .start_date }}<br />to {{ .finish_date }}
    {{ end }}
  </p>
  <p><strong>Owner:</strong> {{ .Params.owner }}</p>
</section>

<h4>Summary</h4>
<p>{{ .Params.summary | markdownify }}</p>

<h2>What I think and stuff</h2>
{{ .Content }}

<section class="book-stats">
  {{ with .Params.awards }}
  <hr />
  <h3>Awards</h3>
  <ul class="awards">
    {{ range . }}
    <li><strong>{{ .name }}</strong> in {{ .year }}</li>
    {{ end }}
  </ul>
  {{ end }}
</section>


<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>


{{ partial "footer.html" . }}
